.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 174px;
}

.form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 396px;
  height: 100%;
}

.title {
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  color: #3f3d56;
  margin-top: 63px;
  margin-bottom: 22px;
}

.double-box {
  width: 100%;
  display: grid;
  grid-template-columns: 170px auto;
  gap: 18px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 22px;
}

.title-field {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #323730;
  margin-bottom: 4px;
}

.title-field em {
  color: #ff0000;
}

.input-field {
  font-family: "Roboto", sans-serif;
  color: #abb3a8;
  background-color: #ffffff;
  border: 1px solid #abb3a8;
  box-sizing: border-box;
  padding: 12px 14px;
  height: 47px;
}

.gender-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.group-align {
  display: flex;
}

.radio-style {
  width: 18px;
  height: 18px;
  border: 1px solid #abb3a8;
  box-sizing: border-box;
  margin: 0 6px 0 0;
}

.term-field {
  display: inline-flex;
  margin-bottom: 28px;
  width: 100%;
  justify-content: space-between;
  
}

.checkbox-style {
  min-width: 18px;
  height: 18px;
  border: 1px solid #abb3a8;
  border-radius: 0;
  box-sizing: border-box;
  margin: 0 8px 0 0;
}

.notes {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323730;
}

a {
  color: #1db9e0;
}

.button {
  width: 100%;
  background-color: #3f3d56;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 0;
  border-radius: 5px;
  border: 0;
  margin-bottom: 28px;
  transition: 100ms;
}
.button:hover {
  background-color: #17133ff5;
  box-shadow: 5px 5px 10px #323730;
  cursor: pointer;
}
